<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Gallery</title>
    <link rel="stylesheet" href="css/gallery.css" type="text/css" </head>
</head>

<body>

    <form method="POST" action="/gallery">
        {{>header}}
        <div class="container container-gallery">
          <div class="flex-gallery">
            <aside class="radioB item">
              <select name="selection" id="select">
                <option value="Nature.jpg"></option>
                {{#each data.name}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
              </select>
              <button class="btn btn-primary" type="submit" value="submit">Submit</button>
            </aside>
         <div class="item descriptionImages">
           <section class="boxImg ">
            {{#if data.current }}
              <a class="purchaseImg" href="purchase"><img src="/images/{{data.current}}" alt=" NO IMAGE" class="image"></a>
            {{else}}
              <img src="/images/Nature.jpg" alt=" NO IMAGE" class="image">
            {{/if}}
        </section>
        <div class="description item">
            {{#if data.current }}
            <h3>{{data.current}}</h3>
            {{else}}
            <h3>Nature</h3>
            {{/if}}
        </div>
        </div>
        </div>
        <div class="logout item">
            <div id="username">{{data.email}}</div>
            <a id="logoutPlace" href="/logout">Logout</a>
        </div>
        <div class="description-move">
        <h5>Please choose one of the pictures that you want to see!</h5>
        <p>You can click on the picture to see its current cost and buy it </p>
        </div>


</div>
    </form>

</body>

</html>